.percentage{
    background-color: white;
    padding:10px 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 2px 2px 8px 0px;
}
.percentage h2{
    font-weight: bold;
    font-size: 20px;
}
.percentage p{
    font-size: 14px;
    color: gray;
}
.percentage .progress{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    line-height: 110px;
    text-align: center;
    margin: 20px auto;
    position: relative;
}
.percentage .progress h3{
    position: relative;
    z-index: 99;
    font-size: 25px;
    font-weight: bold;
}
.percentage .progress h3::before{
    content: "Tasks Completed";
    position: absolute;
    width: fit-content;
    height: fit-content;
    line-height: 0;
    text-wrap: nowrap;
    font-size: 12px;
    font-weight: bold;
    left: 50%;
    top: 70%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.percentage .progress::before{
    content: "";
    display: block;
    width: 90%;
    height: 90%;
    background-color:white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    z-index: 10;
}


