.taskPage{
    display: flex;
    justify-content: center;
}
.taskPage form{
    background-color: white;
    padding:20px 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 2px 2px 8px 0px;
    position: relative;
}
.taskPage form::before{
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #5458b4;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    right: -10%;
    top: -5%;
    z-index: -1;
}
.taskPage form::after{
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #5458b4;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    left: -10%;
    bottom: -5%;
    z-index: -1;
}
.taskPage form label{
    margin: 15px 0 0px;
    position: relative;
}
.taskPage form input,
.taskPage form textarea{
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    padding: 5px;
    background-color: #f5f7fb;
    margin: 5px 0 15px;
    outline: 0;
    width: 100%;
}
.taskPage form label::before{
    content: "";
    position: absolute;
    width: 10%;
    height: 2px;
    background-color: #5458b4;
    bottom: -4px;
}
.taskPage form input:disabled,
.taskPage form textarea:disabled{
    background-color: white;
    padding: 5px 0;
}
.taskPage form span{
    width: 100%;
    background-color:#5458b4;
    color: white;
    text-align: center;
    margin-top: 30px;
    padding: 10px 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}
.taskPage form span:hover{
    background-color:#3f4299;
}