@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family:cursive;
    background-color: #f5f7fb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
